.docs > div.container > div.row > div {
	margin: 3px;
	background: grey;
}

html {
	min-height: 100%;
  }

h1,h2,h3,h4,h5 {
	text-align: center;
}

.banner {

}

#cntr {
	background-color: aliceblue;
}
