.docs > div.container > div.row > div {
	margin: 3px;
	border: 1px solid;
	text-align: center;
	height: 200px;
	max-width: 400px;
}


body {
	/*min-height: 100%; */
	background-color: aliceblue;
	height: 100%;
	text-align: center;
  }


h1,h2,h4,h5 {
	text-align: center;
}

.persons > div > img {
	height: 80px;
	float: left;
	margin: 5px 15px;
}

.persons > div > div.about {
	display: inline;
	clear: none;
}

.banner {

}

.back {
	background-color: aliceblue;
}
